resources:
- name: {{ env["name"] }}
  type: spanner.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: zones/{{ properties["zone"] }}/machineTypes/m1-ultramem-40
    parent: projects/{{ env["project"] }}
    instanceId: 19693959-{{ env["deployment"] }}
    instance:
      config: projects/{{ env["project"] }}/instanceConfigs/{{ properties["zone"] }}
      nodeCount: {{ properties["nodeCount"] }}